<h1 class="text-danger">Parent Component</h1>
<div class="row">
    <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect02" [(ngModel)]="selectedCategory"
            (ngModelChange)="filterproduct = $event">
            <!-- <select class="form-select" id="inputGroupSelect02" > -->
            <option value="" selected>Choose...</option>
            <option value="category 1">Category 1</option>
            <option value="category 2">Category 2</option>
            <option value="category 3">Category 3</option>
        </select>
    </div>
</div>
<app-product [filterproducts]="filterproduct" (addchildEvent)="getCartItem($event)"></app-product>

<h1>cart Items</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product title</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product quantity</th>
        
            
        </tr>
    </thead>
    <tbody>
        @for(item of cart ;track item.id){
            <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
    
        </tr>

    }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><strong>Total Price:</strong></td>
            <td class="text-danger "><strong>{{ getTotalPrice()}}</strong></td>
        </tr>
    </tfoot>
</table>